@{
    ViewData["Title"] = "Sữa chữa";
}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1 class="display-5 fw-bold">Tìm hiểu về Khóa kích hoạt và Tự sửa chữa</h1>
            <p class="fs-5">Tìm hiểu những việc cần làm nếu linh kiện bạn đang sử dụng để Tự sửa chữa iPhone hoặc iPad được bảo vệ bằng Khóa kích hoạt.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h2 class="h4 fw-bold">Xác minh linh kiện để hoàn tất việc sửa chữa</h2>
            <p class="fs-5">
                Nếu sử dụng lại pin, màn hình, camera TrueDepth hoặc cảm biến Touch ID của một iPhone hoặc iPad được bảo vệ bằng
                <a href="#" class="text-decoration-none">Khóa kích hoạt</a>
                (linh kiện vẫn được liên kết với Tài khoản Apple của chủ sở hữu), bạn cần xác thực bằng Tài khoản Apple được sử dụng với thiết bị trước để hoàn tất việc sửa chữa.
            </p>
            <p class="fs-5">
                Khi sử dụng Trợ lý sửa chữa để hoàn tất việc sửa chữa, bạn sẽ được yêu cầu nhập địa chỉ email hoặc số điện thoại và mật khẩu đã được sử dụng để thiết lập iPhone hoặc iPad gần nhất chứa linh kiện đó. Sau khi đăng nhập bằng Tài khoản Apple, bạn có thể phải chờ một lúc để quá trình hoàn tất. Để mở khóa linh kiện, hãy làm theo các bước trên màn hình.
            </p>
            <p class="fs-5">
                Nếu không đặt cấu hình linh kiện, bạn sẽ thấy phần Khởi động lại và hoàn tất sửa chữa trong phần Cài đặt > Cài đặt chung > Giới thiệu > Lịch sử linh kiện và dịch vụ. Linh kiện có thể không hoạt động tốt như linh kiện đã đặt cấu hình và các tính năng quan trọng đối với sự an toàn, bảo mật hoặc quyền riêng tư có thể không áp dụng cho thiết bị của bạn.
            </p>
            <a href="#" class="text-decoration-none fs-5">Tìm hiểu thêm về Lịch sử linh kiện và dịch vụ</a>
        </div>
    </div>
</div>