@model Product
@{
    ViewData["Title"] = "Sửa sản phẩm";
}
<div class="container">
<form method="post" enctype="multipart/form-data">
    <div class="container mt-4">
        <h1 class="text-center">Chỉnh sửa sản phẩm</h1>

        <div class="mb-3">
            <label for="Name" class="form-label">Tên sản phẩm</label>
            <input class="form-control" asp-for="Name" id="Name" oninput="checkChanges()" />
        </div>

        <div class="mb-3">
            <label for="CategoryId" class="form-label">Danh mục</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category" id="CategoryId" onchange="checkChanges()">
                <option>-- Chọn danh mục --</option>
            </select>
        </div>

				<div class="col-12 d-flex">
					<div class="col-6 mb-3">
						<label for="Amount" class="form-label">Số lượng</label>
						<input class="form-control" asp-for="Amount" id="Amount" oninput="checkChanges()" />
					</div>
					<div class="col-6 mb-3">
						<label for="Price" class="form-label">Giá</label>
						<input class="form-control" asp-for="Price" id="Price" oninput="checkChanges()" />
					</div>
				</div>

        <div class="mb-3">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title mb-0">Thông tin</h4>
                    </div>

                    <div class="card-body">
                        <div class="snow-editor" style="height: 300px;">@Html.Raw(@Model.Information) </div>
                        <input class="form-control" type="hidden" asp-for="Information" id="content" value="" />
                    </div>
                </div>
        </div>

        <div class="mb-3">
            <label for="Image" class="form-label">Hình ảnh</label>
            <input class="form-control" type="file" name="Image" id="Image" onchange="checkChanges()" />
        </div>

        <div id="current-image">
            <img src="@Url.Content("~/images/" + Model.Img)" alt="Current Image" id="currentImage" width="200" />
        </div>

        <div id="preview-container" style="display:none;">
            <h5>Preview:</h5>
            <img id="image-preview" src="" alt="Image Preview" width="200" />
        </div>

            <div class="form-group" style="width: 100%; display: flex; justify-content: center;">
                <button class="btn btn-primary" id="submitBtn" onclick="customEventEditor()">Chỉnh sửa</button>
        </div>
    </div>
</form>
</div>

