@model Product
<div class="container">
<form method="post" enctype="multipart/form-data">
    <div class="container mt-4">
        <h1 class="text-center">Chỉnh sửa sản phẩm</h1>

        <div class="mb-3">
            <label for="Name" class="form-label">Tên sản phẩm</label>
            <input class="form-control" asp-for="Name" id="Name" oninput="checkChanges()" />
        </div>

        <div class="mb-3">
            <label for="CategoryId" class="form-label">Danh mục</label>
            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.Category" id="CategoryId" onchange="checkChanges()">
                <option>-- Chọn danh mục --</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="Price" class="form-label">Giá</label>
            <input class="form-control" asp-for="Price" id="Price" oninput="checkChanges()" />
        </div>

        <div class="mb-3">
            <label for="Information" class="form-label">Thông tin</label>
            <textarea class="form-control" asp-for="Information" id="Information" rows="4" oninput="checkChanges()"></textarea>
        </div>

        <div class="mb-3">
            <label for="Image" class="form-label">Hình ảnh</label>
            <input class="form-control" type="file" name="Image" id="Image" onchange="checkChanges()" />
        </div>

        <!-- Hiển thị ảnh hiện tại -->
        <div id="current-image">
            <img src="@Url.Content("~/images/" + Model.Img)" alt="Current Image" id="currentImage" width="200" />
        </div>

        <!-- Preview ảnh mới -->
        <div id="preview-container" style="display:none;">
            <h5>Preview:</h5>
            <img id="image-preview" src="" alt="Image Preview" width="200" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary" id="submitBtn" >Chỉnh sửa</button>
        </div>
    </div>
</form>
</div>

